$success-color: #1a7f37;
$primary-color: #343dff;
$info-color: #0969da;
$warning-color: #bc4c00;
$error-color: #d1242f;
$success-background: #dafbe1; /* light green */
$error-background: #ffebe9; /* light red */
$primary-background: #fcf8fd; /* light blue */
$info-background: #ddf4ff; /* light blue */
$warning-background: #fff1e5; /* light orange */

$dark-background: #25292e; /* dark background */
$light-background: #f6f8fa; /* light background */

$shadow-color: #25292e14;
$shadow-color-light: #f6f8fa14; /* light shadow color */
