@use "@angular/material" as mat;

@import "colors.scss";
@import "mixins.scss";
@import "snackbar.scss";

@include mat.core();

$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$blue-palette,
    ),
    typography: (
      plain-family: "Cascadia Code, monospace",
      brand-family: "Cascadia Code, monospace",
    ),
  )
);

html {
  @include mat.all-component-themes($theme);
}
body {
  margin: 0;
}
